<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
   
     
	<bean id="helloBean" class="com.portal.common.HelloWorld">
	<property name="name" value="Sathish" />
	</bean>

    <bean id = "sessionFactory_bn"  class = "org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name = "configLocation" value = "hibernate.cfg.xml"/>
    </bean> 

    <bean id = "h2_db_01"
    class = "com.portal.daos.HibernateSession" scope = "singleton">
    <property name = "sessionFactory" ref = "sessionFactory_bn"/>
    </bean>


</beans>